/backend/PostService/node_modules
/backend/CommentService/package-lock.json
/backend/EventBus/node_modules
/backend/EventBus/package-lock.json
/backend/CommentService/node_modules
/backend/CommentService/package-lock.json
